//color
//general
$color-primary-black: rgba(0, 0, 0, 1);
$color-primary-white: rgb(255, 255, 255);
$color-red: red;
$color-yellow: yellow;
//header
$color-grad-1--col-1: #5f0a87;
//primary
$color-purple-light: #d270ff;
$color-purple: #8c34b4;
//grid
$gutter-vertical: 6rem;
$gutter-horizontal: 8rem;
$gutter-horizontal-small: 6rem;
