.acc__btn {
  padding: 1rem;
  border: none;
  background-color: $color-primary-black;
  color: $color-purple;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  &:hover {
    color: $color-purple-light;
  }
}
.cta__btn {
  padding: 3rem 2rem;
  border: none;
  background-color: $color-primary-black;
  color: $color-purple;
  font-size: 2rem;
  width: 100%;
  font-weight: 900;
  font-family: inherit;
  letter-spacing: 0.5rem;
  transition: all 0.2s;
  &:hover {
    color: $color-purple-light;
    outline: 5px solid $color-purple-light;
  }
}
.scrollUp {
  position: fixed;
  z-index: 1000;
  bottom: 5%;
  right: 5%;
  // padding: 1rem 2rem;
  padding: 1.2rem 0;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  color: $color-purple-light;
  background-color: $color-primary-black;
  transition: background 0.5s ease;
  &:hover {
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  }
}
.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
