@keyframes openUp {
  0% {
    clip-path: circle(0% at 50% 50%);
  }
  50% {
    clip-path: circle(50% at 50% 50%);
  }
  100% {
    clip-path: circle(16% at 50% 50%);
  }
}
@keyframes openUpPhone {
  0% {
    clip-path: circle(0% at 50% 50%);
  }
  50% {
    clip-path: circle(50% at 50% 50%);
  }
  100% {
    clip-path: circle(19% at 50% 50%);
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes FadeOut {
  0% {
    background-color: $color-primary-black;
  }
  50% {
    background-color: $color-primary-black;
  }
  75% {
    background-color: transparent;
  }
  100% {
    background-color: $color-primary-black;
  }
}
@keyframes HeroImgSmPhone {
  0% {
    width: 380px;
  }
  90% {
    width: 380px;
  }
  100% {
    width: 200px;
  }
}

@keyframes HeroImg {
  0% {
    width: 520px;
  }
  90% {
    width: 520px;
  }
  100% {
    width: 330px;
  }
}
