.container {
  max-width: 114rem;
  padding: 3rem 2rem;
  // height: 100rem;
  margin: 0 auto;
}

.features {
  background-image: linear-gradient(
    0deg,
    $color-primary-black 5%,
    $color-grad-1--col-1 95%
  );
  padding-bottom: 25rem;
}
.customs {
  padding: 4rem 0 10rem 0;
  background-image: url(/img/c-bikes/custom-bg.webp);
  background-position: center;
  background-size: cover;
  // padding-bottom: 10rem;
}
.accessories {
  padding: 0 10rem 10rem 10rem;
  background-image: linear-gradient(
    0deg,
    $color-grad-1--col-1 14%,
    $color-primary-black 79%
  );
  @include respond(tab-port) {
    padding: 0 6rem 10rem 6rem;
  }
}
.cta {
  padding: 0 10rem 10rem 10rem;

  background-image: linear-gradient(
    0deg,
    $color-primary-black 14%,
    $color-grad-1--col-1 79%
  );
}
